.Timeline ul.Timeline {
  border: 1px solid #3A3A3A;
  border-radius: 3px;
  padding: 0;
  margin: 0 0 60px 0;
}

.Timeline ul.Timeline li {
  background: #D4F3CE;
  border-radius: 2px;
  display: inline-block;
  height: 43px;
  margin: 4px 0 4px 4px;
  vertical-align: top;
}

.Timeline ul.Timeline li.selected {
  background-color: #BBE1B4;
}

.Timeline ul.Timeline li span {
  display: block;
  font-size: .8em;
  line-height: 1em;
  padding-top: 10px;
  position: relative;
  top: 48px;
  text-align: center;
  visibility: inherit;
}
.Timeline ul.Timeline li.selected span {
  background-image: url('../images/marker.svg');
  background-position: center -10px;
  background-repeat: no-repeat;
  font-size: 1.1em;
  padding-top: 25px;
}

.Timeline h4,
.Timeline h5 {
  font-weight: normal;
  line-height: initial; 
  margin: 0;
  padding: 0;
}

.Timeline h4 {
  font-size: 1.5em;
}

.Timeline h5 {
  font-size: 1em;
  margin-top: -5px;
}

.Timeline ul.ExperienceDescription {
  list-style-type: circle;
  padding: 0 0 0 20px;
}

@media only screen and (max-width : 600px) {
  .Timeline ul.Timeline li span {
    font-size: .6em;
  }
}