/* Webfont: Lato-Medium */@font-face {
  font-family: 'LatoWebMedium';
  src: url('fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
       url('fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
       url('fonts/Lato-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Regular */@font-face {
  font-family: 'LatoWebRegular';
  src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Light */@font-face {
  font-family: 'LatoWebLight';
  src: url('fonts/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
       url('fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
       url('fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.App {
  font-family: "LatoWebLight";
  font-size: 16px;
  line-height: 1.6875em;
  margin: auto;
}

.App a,
.App a:visited {
  color: #212121;
}

/*
  ###########################################################
  Header
  ###########################################################
*/

.Header {
  background: #FFEB6F;
  background-image: url('images/rule.svg');
  background-repeat: repeat-x;
  background-position: bottom 1px right 0;
}

.Header-content {
  margin: auto;
  max-width: 900px;
}

.Header h1 {
  background:url('images/logo.svg');
  background-repeat: no-repeat;
  float: left;
  width: 136px;
  height: 71px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 40px;
  left: 0px;
}

.Header h2 {
  font-size: 1.6875em;
  padding: 0;
  margin: 0;
}

.Header-intro {
  padding: 86px 0 60px 0;
  margin-left: 230px;
}

.Header-intro p {
}

.Header-intro a {
  background: url('images/resume.svg') no-repeat center right 10px;
  border: 2px solid #212121;
  display: inline-block;
  margin-top: 20px;
  padding: 6px 48px 7px 18px;
}

.Header-social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 122px;
}

/*
  ###########################################################
  ContentGroup
  ###########################################################
*/
.Contentgroup {
  margin: 0 auto 100px auto;
  width: 900px;
}

.Contentgroup h4 {
  font-size: 2.5em;
  text-transform: uppercase;
  /* height: 40px; */
  line-height: 40px;
  margin: 50px 0 50px 0;
  padding: 0 0 0 50px;
}

ul.HrefList {
  list-style-type: none;
  padding: 0;
}

ul.HrefList li {
  float: left;
  width: 45%;
  margin: 0 5% 3em 0;
}

ul.HrefList h5,
ul.HrefList h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul.HrefList h5 {
  font-size: 1.125em;
}

ul.HrefList h6 {
  border-bottom: 1px solid #3a3a3a;
  color: #7B7B7B;
  font-size: .875em;
  line-height: 1.4em;
}

ul.HrefList li a {
  border: 2px solid #212121;
  float: right;
  line-height: 1.4em;
  font-size: .875em;
  padding: 0 5px 0 5px;
  position: relative;
  text-decoration: none;
  top: -2em;
}

ul.HrefList li p {
  clear: right;
}

ul.HrefList span.tag {
  background: #FAD075;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: .875em;
  line-height: 1.4em;
  padding: 0 5px 1px 5px;
}

.Footer {
  clear: both;
  padding-bottom: 50px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 900px) {
  .Header-content {
    padding: 0 5%;
  }

  .Header h1 {
    /* background-position: center; */
    float: none;
    width: 100%;
  }

  .Header-social {
    top: 33px;
    left: 191px;
  }

  .Header-intro {
    margin: 0;
  }

  .Contentgroup {
    width: 90%;
  }
}

@media only screen and (max-width : 600px) {
  ul.HrefList li {
    width: 90%;
  }
}